<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test thread-count="5" name="Test">
    <classes>
      <class name="javaPractice.TC001"/>
      <class name="javaPractice.TC002"/>
      <class name="javaPractice.TC003"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
